doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="container-fluid")
      nav(class="navbar fixed-top navbar-expand-lg  navbar-dark bg-dark ")
        a(class="navbar-brand" href="#") MP
        div(class="collapse navbar-collapse")
          div(class="navbar-nav")
            a(class="nav-item nav-link active" href="/expedientes/") Expedientes
            a(class="nav-item nav-link active" href="/integrantes/") Integrantes
      block content
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js')
